.jconfirm.jconfirm-white .jconfirm-box,
.jconfirm.jconfirm-light .jconfirm-box {
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 6px rgb(176, 210, 204) !important;
    border-radius: 5px;
    background: #b0d2cc !important;
}

.jconfirm.jconfirm-white .jconfirm-box .jconfirm-buttons button.btn-default,
.jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons button.btn-default {
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #b0d2cc !important;
    background: #373b40 !important;
}