body {
    margin: 0;
    padding: 0;
    font-family: Bradley Hand, cursive;
    /*background-image: url('../img/fundo_alta_qualidade2.jpg');*/
    background-color: #374858;
    /* to left: significa que o background vai começar da esquerda pra direita, tipo, dessa cor
	pra ir mudando pra segunda, da esquerda pra direita, ou ao contrario */
    /*background-image: linear-gradient(to left,  #357bbd, #fff);*/
    /* background-repeat: no-repeat;*/
}

form {
    border-radius: 2.1em;
    font-size: 16px;
    background-color: #acbfcc;
    max-width: 500px;
    margin: 0 auto;
    padding: 0px 10px 10px 10px;
}

#texto {
    border-radius: 0.1em;
    background-color: #F8F8FF;
}

#aviso {
    text-shadow: 1px 5px 8px grey;
    text-align: justify-all;
    color: #374858;
    font-size: 20pt;
}

#aviso2 {
    text-shadow: 1px 5px 8px grey;
    color: #374858;
    font-size: 14pt;
}

p {
    font-family: Bradley Hand, cursive;
}

#inputBox {
    width: 450px;
    padding: 10px;
    border-radius: 1.1em;
    border: 1px #363636;
}

button {
    width: 150px;
    height: 40px;
}

#h2formulas {
    color: #d7d7ea;
    /*text-shadow: 3px 3px 5px #A4A4A4;*/
    border-radius: 2.1em;
    border: 1px solid grey;
    text-align: center;
    font-family: Bradley Hand, cursive;
    background-color: #284254;
}

#topicos {
    /* text-shadow: 3px 3px 5px #A4A4A4; */
    /* border-radius: 2.1em; */
    /* border: 1px solid grey; */
    text-align: justify;
    font-family: Bradley Hand, cursive;
    background: #7b95ad30;
    border: thin #b9c9d4 solid;
}

#h2formulas-index {
    border-radius: 2.1em;
    color: #d7d7ea;
    /* text-shadow: 3px 3px 5px #A4A4A4; */
    /* border-radius: 2.1em; */
    border: 1px solid grey;
    text-align: center;
    font-family: Bradley Hand, cursive;
    background-color: #284254;
}

#divs {
    background-color: #d7d7ea;
}

#divs-index {
    border: none;
    border-radius: 40px 10px;
    background-color: #d7d7ea;
}

#divsBorder {
    border-radius: 15px 15px 15px 15px;
    background-color: #284254;
    border: 0.3em groove #4d7887;
    padding: 2.5em;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16pt;
}


/*#menu {
    font-size: 20pt;
}*/

li:hover {
    box-shadow: 0px 0px 0px #F8F8FF;
    background-color: #696969;
    color: white;
    text-shadow: 2px 2px 5px white;
}

.dropdown-item:hover {
    background-color: #415564de;
    color: white;
    text-shadow: 2px 2px 3px white;
}

footer {
    border-radius: 0.1em;
    color: #d7d7ea;
    background-color: #343a40;
}

#vermais {
    background: #284254;
    border-radius: 0.9em;
    margin-top: 0.5em;
    text-transform: uppercase;
    color: #d7d7ea;
    box-shadow: 6px 9px 10px grey;
    border: 0.1em solid #898d90;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}

#vermais:hover {
    opacity: 0.8;
    background: #284254;
    border-radius: 0.9em;
    margin-top: .5em;
    padding: 0.6em 0.3em;
    font-size: 16pt;
    color: #eaeaef;
    box-shadow: 6px 9px 10px grey;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}

#formula {
    text-decoration: none;
    font-size: 35pt;
    color: #d7d7ea;
    text-shadow: 1px 2px 2px grey;
    padding: 3px;
    margin: 3px;
}


/*#formula:hover {
    text-decoration: none;
    text-shadow: 0px 0px 0px white;
    font-size: 45pt;
    font-weight: bold;
    outline: none;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}*/

#formulaSemHover {
    text-decoration: none;
    font-size: 35pt;
    color: #d7d7ea;
    text-shadow: 2px 2px 5px grey;
    padding: 3px;
    margin: 3px;
}

#boxFormula {
    width: 100px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid;
}

#txtDestaque {
    text-shadow: 2px 2px 5px gray;
    font-size: 20pt;
    color: #264052;
}

#txtDestaque2 {
    background-color: #8db4b5;
    border-radius: 20px;
    border: black;
}

#txtDestaque3 {
    color: #a6c6c7;
}

#formularioMRU {
    background: #F8F8FF !important;
    padding-top: 1em;
    padding-bottom: 1em;
}

#text-conteudo {
    text-align: justify;
}

#text-conteudo-criador1 {
    text-align: justify;
    margin: 20px;
    color: #acbfcc;
    font-size: 14pt;
}

.btn-outline-secondary {
    color: #374858;
    background-color: transparent;
    background-image: none;
    border-color: #374858;
    border-radius: 1.1em;
}

.btn-outline-secondary:hover {
    color: #acbfcc;
    background-color: #374858;
    background-image: none;
    border-color: #374858;
    border-radius: 1.1em;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #d7d7ea;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

.img-thumbnail {
    padding: 0.25rem;
    background-color: #284254;
    border: 1px solid #284254;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
    border-radius: 1.1em;
}

#img-thumbnail {
    padding: 0.25rem;
    background-color: #284254;
    border: 1px solid #284254;
    border-radius: 0.25rem;
    max-width: 120%;
    height: auto;
}

#btnlogin,
#btncadastro {
    width: 450px;
}

h1 {
    text-shadow: 2px 5px 5px grey;
}


/*.corpo {
    margin: auto;
    width: 1000px;
}

.imagem {
    display: table-cell;
    float: left;
}

.texto {
    display: table-cell;
    float: left;
    text-align: center;
    width: 320px;
}

.imagem2 {
    display: table-cell;
    float: right;
    margin: auto;
}

.texto2 {
    display: table-cell;
    float: right;
    width: 320px;
}

.conteudo {
    display: table;
} */

figure {
    width: 50%;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    border: thin #b9c9d4 solid;
    margin: 0.5em;
    padding: 0.5em;
    background: #7b95ad30;
    font-size: large;
}