body {
    margin: 0;
    padding: 0;
    font-family: Bradley Hand, cursive;
    /*background-image: url('../img/fundo_alta_qualidade2.jpg');*/
    background-color: #374858;
    /* to left: significa que o background vai começar da esquerda pra direita, tipo, dessa cor
	pra ir mudando pra segunda, da esquerda pra direita, ou ao contrario */
    /*background-image: linear-gradient(to left,  #357bbd, #fff);*/
    /* background-repeat: no-repeat;*/
}

form {
    border-radius: 10px;
    font-size: 16px;
    background-color: #DCDCDC;
    max-width: 500px;
    margin: 0 auto;
    padding: 0px 10px 10px 10px;
}

#texto {
    border-radius: 35px 35px 35px 35px;
    background-color: #F8F8FF;
}

#aviso {
    text-shadow: 1px 5px 8px white;
    text-align: justify-all;
    color: #264052;
    font-size: 20pt;
}

p {
    font-family: Bradley Hand, cursive;
}

#inputBox {
    width: 450px;
    padding: 10px;
    border-radius: 3px;
    border: 1px #363636;
}

button {
    width: 150px;
    height: 40px;
}

#h2formulas {
    color: #d7d7ea;
    /*text-shadow: 3px 3px 5px #A4A4A4;*/
    border-radius: 2.1em;
    border: 1px solid grey;
    text-align: center;
    font-family: Bradley Hand, cursive;
    background-color: #284254;
}

#divs {
    border-radius: 15px 15px 15px 15px;
    background-color: #d7d7ea;
}

#divsBorder {
    border-radius: 15px 15px 15px 15px;
    background-color: #bcdde8a1;
    border: 0.3em groove #4d7887;
    padding: 1em;
}

#menu {
    font-size: 16pt;
}

li:hover {
    box-shadow: 0px 0px 0px #F8F8FF;
    background-color: #696969;
    color: white;
    text-shadow: 2px 2px 5px white;
    border-radius: 10px 10px 10px 10px;
}

footer {
    border-radius: 10px 10px 0px 0px;
    color: white;
    background-color: #1e211f;
}

#vermais {
    text-decoration: none;
    color: white;
    background-color: #284254;
    box-shadow: 5px 5px 5px 5px gray;
}

#vermais:hover {
    box-shadow: 0px 0px 0px 0px #363636;
}


/*@media (min-width: 500px) and (max-width: 1200px) {
    body {
        background: blue !important;
    }
}*/

#formula {
    text-decoration: none;
    font-size: 35pt;
    color: #264052;
    text-shadow: 2px 2px 5px gray;
    padding: 3px;
    margin: 3px;
}

#formula:hover {
    text-decoration: none;
    text-shadow: 0px 0px 0px white;
}

#boxFormula {
    width: 100px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid;
}

#txtDestaque {
    text-shadow: 2px 2px 5px gray;
    font-size: 20pt;
    color: #264052;
}

#txtDestaque2 {
    background-color: #8db4b5;
    border-radius: 20px;
    border: black;
}

#formularioMRU {
    background: #F8F8FF !important;
    padding-top: 1em;
    padding-bottom: 1em;
}

.alert-primary {
    color: #d2e7f0;
    background-color: #284254;
    border-color: #d2e7f0;
    border-radius: 1.2em;
}

#text-conteudo {
    text-align: justify;
}