#h2formulas {
    color: white;
    /*text-shadow: 3px 3px 5px #A4A4A4;*/
    border-radius: 15px 15px 15px 15px;
    border: 1px solid grey;
    text-align: center;
    font-family: Bradley Hand, cursive;
    background-color: #4d7887;
}

body {
    margin: 0;
    padding: 0;
    font-family: Bradley Hand, cursive;
    /*background-image: url('../img/fundo_alta_qualidade2.jpg');*/
    background-color: #264052;
    /* to left: significa que o background vai começar da esquerda pra direita, tipo, dessa cor
	pra ir mudando pra segunda, da esquerda pra direita, ou ao contrario */
    /*background-image: linear-gradient(to left,  #357bbd, #fff);*/
    /* background-repeat: no-repeat;*/
}

#divs {
    border-radius: 15px 15px 15px 15px;
    background-color: #F8F8FF;
}

.containerFavoritos {
    padding-top: 4%;
    padding-bottom: 4%;
}

#linhaFavorito {
    background: #4d7887;
    width: 80%;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 4%;
}

#favorito {
    text-align: center;
    width: 80%;
    list-style: none;
}

#favorito li {
    color: white;
}

#menu {
    font-size: 16pt;
}

.dropdown-item:hover {
    background-color: #284254de;
    color: white;
    text-shadow: 2px 2px 3px white;
    border-radius: 10px 10px 10px 10px;
}

li:hover {
    box-shadow: 0px 0px 0px #F8F8FF;
    background-color: #696969;
    color: white;
    text-shadow: 2px 2px 5px white;
    border-radius: 10px 10px 10px 10px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #d7d7ea;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}