.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgb(209, 236, 241);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    color: #0c5460;
}

.btn-link {
    font-weight: 400;
    color: #0c5460;
    background-color: transparent;
    font-weight: bold;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #4d7887;
    border-radius: 8px;
}

#divs {
    border-radius: 15px 15px 15px 15px;
    background-color: #4d7887;
}

.containerFavoritos {
    padding: 2.5%;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    color: #fff;
    background-color: #416673;
}

.btn-link:hover {
    color: #0c5460;
    text-decoration: none !important;
    background-color: transparent;
    border-color: transparent;
}